.navbar-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #000000;
  -moz-box-shadow: 0 8px 6px -6px #000000;
  box-shadow: 0 8px 6px -6px #000000;
}

.downloads {
  color: white;
  align-content: center;
  margin-right: 15px;
}

